<div class="bg-blue-500 flex justify-between">
    <div>
        <ul>
            <li>elemento1</li>
            <li>elemento2</li>
            <li>elemento3</li>
            <li>elemento4</li>
        </ul>
    </div>

    <div>
        <ul>
            <li>elemento1</li>
            <li>elemento2</li>
            <li>elemento3</li>
            <li>elemento4</li>
        </ul>
    </div>
    
    <div>
        <ul>
            <li>elemento1</li>
            <li>elemento2</li>
            <li>elemento3</li>
            <li>elemento4</li>
        </ul>
    </div>
</div>