<div class="flex bg-blue-500 justify-between items-center">
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIC8Du6-wzYzVpcybF1tf6LFVwAZnN7hPatA&s" width="100px" alt="">
    </div>

    <div>
        <ul class="flex gap-4">
            <li><a class="hover:cursor-pointer" (click)="navegar('login')">Login</a></li>
            <li><a class="hover:cursor-pointer" (click)="navegar('profesores')">profesores</a></li>
            <li>element3</li>
            <li>element4</li>
        </ul>
    </div>
</div>